html {
    font-family: Verdana;
}

.banner {
    background: #4682b4;
    color: #fff;
    padding: 20px;
    font-size: 120%;
    text-align: center;
}

.container {
    display: flex;
}

.item-1 {
    background: #40e0d0;
    width: 40%;
    height: 60vh;
}

.item-2 {
    background: #40e0d0;
    width: 60%;
    height: 60vh;
}

img {
    padding: 5px;
    margin: 10px;
    border: 1px solid #000080;
}

